* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: unset;
}

html {
  background-color: rgb(2, 192, 87);
  height: 100%;
}

body {
  height: 100%;
}

.icon {
  width: 50px;
  height: 50px;
  color: white;
}

#header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12pt;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 0px 10px 0px 10px;
  z-index: 5;
}

#header span#file-name-display,
span#drop-down-btn,
span#page-counter {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#header span#drop-down-btn {
  margin-top: 30px;
  cursor: pointer;
}

#header span#page-counter input {
  width: 30px;
  margin: 0px 10px;
}

#header span#page-counter span {
  width: 30px;
  margin: 0px 10px;
  line-height: 30px;
}

#reader {
  z-index: 1;
  position: relative;
  top: 60px;
  margin: 0 auto;
  display: flex;
  width: 98%;
  height: 1130px;
  background-color: rgba(0, 0, 0, 0.8);
}

#reader #canvas-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

#reader span#prev-btn,
span#next-btn {
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 150px;
  justify-content: center;
  transition: 1s ease-in-out;
}

#reader span#prev-btn {
  left: 0px;
  opacity: 0;
}

#reader span#next-btn {
  right: 0px;
  opacity: 0;
}

#reader span#prev-btn:hover {
  opacity: 100;
}

#reader span#next-btn:hover {
  opacity: 100;
}

.drop-down {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 1150px;
  z-index: 4;
  backdrop-filter: blur(5px);
  top: -150%;
  transition: 0.5s;
  overflow: hidden;
}

.drop-down.visible {
  top: 50px;
}

.drop-down #drag-n-drop {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 100%;
  height: 25%;
  border-bottom: 2px rgba(0, 0, 0, 0.8) solid;
}

.drop-down #drag-n-drop img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 30px;
  opacity: 0.6;
  border: 3px dashed rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.drop-down #library-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 75%;
}

.drop-down #library-wrapper #task-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.drop-down #library-wrapper #task-bar #filter {
  width: 150px;
  font-size: 12pt;
  background-color: unset;
  outline: none;
  line-height: 20px;
}

.drop-down #library-wrapper #task-bar #refresh-btn {
  width: 30px;
  height: 30px;
  background-color: unset;
}

.drop-down #library-wrapper #task-bar #refresh-btn img {
  width: 30px;
  height: 30px;
}

.drop-down .library.no-item {
  position: relative;
  width: 95%;
  height: 100%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 900;
  color: white;
}

.drop-down .library.items {
  position: relative;
  width: 95%;
  height: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-auto-rows: 250px;
  gap: 10px;
  overflow: scroll;
  transition: 0.5s;
}

.drop-down .library .item {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 250px;
  cursor: pointer;
}

.drop-down .library .item canvas {
  width: 100%;
  height: 100%;
}
